body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* a {
  text-decoration: none;
  color: white;
}

header {
  z-index: 10;
  background: white;
  width: 100%;
}

header .header {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
}

header .header__arrow-back {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 40%;
  font-size: 20px;
}

header .header__arrow-back a {
  color: #000;
}

header .header__logo {
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

header .header__logo a {
  color: #000;
}

.img {
  width: 100%;
  height: 50vh;
}

.img__image {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__header__title {
  font-family: 'Shrikhand', cursive;
}

.menu__header__heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.menu__header__heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}

.menu__header__heart .heart-empty {
  position: relative;
}

.menu__header__heart .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

.menu__grid__bloc {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}

.menu__grid__title h3::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}

.menu__grid__case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.menu__grid__case:hover .validation__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu__grid__case:hover .menu__case__price {
  padding-right: 70px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}

.menu__grid__case .validation__box i {
  font-size: 30px;
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}

.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__case__dish-title {
  font-weight: bold;
}

.menu__case__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}

.menu__contain-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu__button {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 50px 0;
  font-size: 18px;
}

.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.dish-and-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appears-with-opacity {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}

#case-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#case-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#case-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#case-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#case-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#case-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#case-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#case-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#case-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bloc {
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

.footer__bloc .logo {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}

.footer__bloc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__bloc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}

.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}

.footer__bloc-link i {
  margin-right: 7px;
}

.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 1100px) {
  .menu {
    margin-top: -60px;
  }
  .menu__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .img__image {
    margin-top: 0;
  }
  .footer__bloc {
    margin-bottom: 15px;
  }
  .footer__bloc-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 900px;
  }
}
/*# sourceMappingURL=style_menu.css.map */